<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
	<meta name="keywords" content="汤海祥, towne, townmi" />
	<meta name="description" content="汤海祥的个人网站"/>
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="../css/reset.css">
	<link rel="stylesheet" type="text/css" href="../css/monokai.css">
	
</head>
<body>
	<!-- head -->

	<div class="ui_global_progress_bg">
		<div class="ui_global_progress"></div>
	</div>
	<div class="ui_head_bg">
		<div class="ui_head">
			<a href="/" >登陆</a>
		</div>
	</div>
	<!-- head over -->

	<div class="ui_edit clear" id="js_center">
		<div class="ui_edit_in fl" id="js_article">
			<div id="control">
				<% if(data[0]){ %>
				<ul class="ui_edit_tags">
					<li>
						<label for="title">标题:</label>
						<input type="text" class="ui_base_text" placeholder="请输入标题" id="title" value=<%= data[0].title %>>
					</li>
					<li>
						<label for="categories">分类:</label>
						<input type="text" class="ui_base_text" placeholder="请输入分类" id="categories" value=<%= data[0].categories %>>
					</li>
				</ul>
				<div>
					<label for="body">内容:</label>
					<pre id="body" style="height:400px;"><%= data[0].body %></pre>
				</div>
				<p>
					<a href="javascript:;" class="js_change_update" key=<%= data[0].id %>>提交</a>
				</p>
				<% }else{ %>
				<ul class="ui_edit_tags">
					<li>
						<label for="title">标题:</label>
						<input type="text" class="ui_base_text" placeholder="请输入标题" id="title">
					</li>
					<li>
						<label for="categories">分类:</label>
						<input type="text" class="ui_base_text" placeholder="请输入分类" id="categories">
					</li>
				</ul>
				<div>
					<label for="body">内容:</label>
					<!-- <textarea placeholder="请输入内容" id="body" rows="20" cols="50"spellcheck="false" autocomplete="off"></textarea> -->
					<pre id="body" style="height:400px;"></pre>
				</div>
				<p>
					<a href="javascript:;" class="js_edit_update">提交</a>
				</p>
				<% } %>
				
			</div>
		</div>
		<div class="ui_edit_out fr" id="js_edit_show">
			
		</div>
	</div>


	<!-- foot -->
	<div class="ui_foot_bg">
		<div class="ui_foot">
			<span style="color: #80bd01;">Powered by</span>
			<a href="http://nodejs.org/" target="_blank" class="node_js">NodeJs</a>
			&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #3686be;">Running on</span>
			<a href="https://www.digitalocean.com/" target="_blank" class="digitalocean">Digitalocean</a>
			<a href="" class="fr">github</a>
			<a href="" class="fr">weibo</a>
		</div>
	</div>
	<!-- foot over -->

</body>
<script type="text/javascript" src="../js/src/jquery.js"></script>
<script type="text/javascript" src="../js/src/showdown.js"></script>
<script type="text/javascript" src="../js/src/extensions/prettify.js"></script>
<script type="text/javascript" src="../js/src/highlight.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.8/ace.js"></script>
<script type="text/javascript">

	$(function(){

		var converter = new Showdown.converter({ extensions: ['prettify'] });

		ace.require("ace/ext/chromevox");

		var val = $("#body").html();

		$("#js_edit_show").html( converter.makeHtml( val) );

		$("code").each(function (i, block){
			hljs.highlightBlock(block);
		});

	    var editor = ace.edit("body");

	    // editor.session.setMode("ace/mode/html");

	    editor.setTheme("ace/theme/monokai");

	    editor.setValue(val); // or session.setValue
		
		editor.setHighlightActiveLine(false);

		editor.getSession().on('change', function(e) {

			$("#js_edit_show").html( converter.makeHtml( editor.getValue() ) );

	    	$("code").each(function (i, block){
				hljs.highlightBlock(block);
			});

		});

		$("#control .js_edit_update").on("click", function(){

			if(!$("#title").val() || !$("#categories").val() || !editor.getValue()) return;

			$.ajax({
				type: "post",
				url: "/edit",
				data: {
					"title" : $("#title").val(),
					"categories": $("#categories").val(),
					"body": editor.getValue()
				},

				dataType: "json",

				success: function (data){
					if(data.target){

						window.location.href="http://127.0.0.1:3000/";

					}
				},
				error: function (msg){
				   	
				}
			})

		});

		$("#control .js_change_update").on("click", function(){

			if(!$("#title").val() || !$("#categories").val() || !editor.getValue()) return;

			var key = $(this).attr("key");

			console.log(key);

			// return;

			$.ajax({
				type: "post",
				url: "/change",
				data: {
					"title" : $("#title").val(),
					"categories": $("#categories").val(),
					"body": editor.getValue(),
					"key": key
				},

				dataType: "json",

				success: function (data){
					if(data.target){

						window.location.href="http://127.0.0.1:3000/";

					}
				},
				error: function (msg){
				   	
				}
			})

		});

	});
</script>
<script type="text/javascript">
	$(function (){

    	var TOBOOTOM =  $(window).height() - $("body").height();

    	var w1 = $("#js_center").height();

    	if(TOBOOTOM>0){

    		$("#js_center").css({
    			"height" : TOBOOTOM+w1
    		});

    	}

	})
</script>
</html>