<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
	<meta name="keywords" content="汤海祥, towne, townmi" />
	<meta name="description" content="汤海祥的个人网站"/>
	<title>个人</title>
	<link rel="stylesheet" type="text/css" href="../css/reset.css">
	<link rel="stylesheet" type="text/css" href="../css/monokai.css">
</head>
<body>

	<!-- head -->
	<div class="ui_head_bg">
		<div class="ui_head clear">
			<a href="/" class="fl">/</a>
			<% if(!login){ %>
			<a href="/login" class="fr">登陆</a>
			<% }else{%>
			<a href="javascript:;" id="logout" class="fr">登出</a>
			<% } %>
		</div>
	</div>

	<!-- head over -->
	
	<div class="ui_center clear js_center">
		<div class="ui_article fl" id="js_article">
			<ul class="ui_art_list">
				<% arts.forEach(function (e){ %>
				<li class="ui_art_list_one">
					<div class="ui_art_head">
						<h2 class="ui_art_title"><a href=<%- '"/'+e.categories+"?key="+e.title+'"' %>><%= e.title %></a></h2>
						<p class="clear ui_targets">
							<a href=<%- '"/'+e.categories+'"' %> class="ui_target fl"><%= e.categories %></a>
							<span class="ui_date fr">最后修改日期：<%= e.change_date %></span>
						</p>
					</div>
					<div style="display: none;"><%= e.body %></div>
					<div class="js_body ui_art_body">
					</div>
					<div class="ui_art_foot">
						<p>
						<% if(!login){ %>
						<div class="col-md-10"></div>
						<% }else{%>
						<a href="javascript:;" class="js_delete" key=<%- '"'+e.title+'"' %>>删除</a>&nbsp;&nbsp;&nbsp;&nbsp;
						<a href=<%- '"/edit?key='+e.title+'"' %> class="js_change" key=<%- '"'+e.title+'"' %>>修改</a>
						<% } %>
						</p>
					</div>
					<% if(!simple){ %>
					<!-- 多说评论框 start -->
					<div class="ds-thread" data-thread-key=<%- '"'+arts[0].categories+'"' %> data-title=<%- '"'+arts[0].title+'"' %> data-url=<%- '"http://127.0.0.1:3000/'+e.categories+"?key="+e.title+'"' %>></div>
					<!-- 多说评论框 end -->
					<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
					<script type="text/javascript">
						var duoshuoQuery = {short_name:"townmi"};
						(function() {
							var ds = document.createElement('script');
							ds.type = 'text/javascript';ds.async = true;
							ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
							ds.charset = 'UTF-8';
							(document.getElementsByTagName('head')[0] 
							 || document.getElementsByTagName('body')[0]).appendChild(ds);
						})();
					</script>
					<!-- 多说公共JS代码 end -->
					<% }%>
				</li>
				<% })%>
			</ul>
			<% if(arts.length === 1){ %>
			
			<% } %>
		</div>
		<div class="ui_sidebox fr">
			<div class="ui_side js_side">
				<ul class="ui_categories">
					<li style="background:none; padding-left:0;">
						<h3>文章分类</h3>
					</li>
					<% categories.forEach(function (e){%>
					<li><a href=<%- '"/'+ e.title+'"' %>><%= e.title %><span>(<%= e.num %>)</span></a></li>
					<% })%>
				</ul>
			</div>
			<div class="ui_side js_side">
				<ul class="ui_categories">
					<li style="background:none; padding-left:0;">
						<h3>文章归档</h3>
					</li>
					<% date.forEach(function (e){%>
					<li><a href=<%- '"/'+ e.date+'"' %>><%= e.date %><span>(<%= e.num %>)</span></a></li>
					<% })%>
				</ul>
				
			</div>
		</div>
	</div>
	
	<!-- foot -->
	<!-- <div class="ui_mar"></div> -->
	<div class="ui_foot_bg" id="js_foot">
		<div class="ui_foot">
			<span style="color: #80bd01;">Powered by</span>
			<a href="http://nodejs.org/" target="_blank" class="node_js">NodeJs</a>
			&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #3686be;">Running on</span>
			<a href="https://www.digitalocean.com/" target="_blank" class="digitalocean">Digitalocean</a>
			<a href="" class="fr">github</a>
			<a href="" class="fr">weibo</a>
		</div>
	</div>
	<!-- foot over -->

</body>
<script type="text/javascript" src="../js/src/jquery.js"></script>
<script type="text/javascript" src="../js/src/showdown.js"></script>
<script type="text/javascript" src="../js/src/extensions/prettify.js"></script>
<script type="text/javascript" src="../js/src/highlight.js"></script>
<script type="text/javascript">

	var converter = new Showdown.converter({ extensions: ['prettify'] });

	$(".js_body").each(function (e){

		var html = $(this).prev().html();

		html = html.replace(/&lt;/g, "<");

		html = html.replace(/&gt;/g, ">");

		$(this).html( converter.makeHtml( html ) );

		$(this).prev().remove();

	});

	$("code").each(function (i, block){
		hljs.highlightBlock(block);
	});

	// 登出
	$("#logout").on('click', function(){

		$.ajax({
			type: "post",
			url: "/logout",
			data: {
			},

			dataType: "json",

			success: function (data){

				if(!data.login){

					window.location.reload();

				}

			},
			error: function (msg){

				console.log(msg)
			   	
			}
		})

	});

	// 删除
	$(".js_delete").on("click", function(){

		var key = $(this).attr("key");

		if( window.confirm('你确定要删除<<'+key+'>>吗？') ){

			$.ajax({

				type: "post",
				url: "/delete",
				data: {"key" : key},
				dataType: "json",

				success: function (data){
					if(data.target){

						window.location.reload();

					}
				},
				error: function (msg){
				   	
				}

			})


		}else{
			return
		}

	});

</script>
<script type="text/javascript">
	$(function (){

    	var TOBOOTOM =  $(window).height() - $("body").height();

	    var w1 = $("#js_article").height();

	    var w2 = $("#js_article").next().height();

	    if(TOBOOTOM>0 && w2>w1){

	    	$("#js_article").css({
	    		"height" : TOBOOTOM+w2
	    	});

	    }else if(TOBOOTOM<0 && w2>w1){

	    	$("#js_article").css({
	    		"height" : w2
	    	});

	    }else if(TOBOOTOM>0){

	    	$("#js_article").css({
	    		"height" : TOBOOTOM+w1
	    	});

	    }

	})
</script>
</html>