<!doctype html>
<html>
<head>
  <meta charset="utf-8">
    <title>townmi-blog</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <!-- Styles -->
    <!-- <link href="css/bootstrap.css" rel="stylesheet"> -->
    <link rel="stylesheet" href=<%- '"'+viewList.basePath+'css/font-awesome.min.css"' %>>
    <link rel="stylesheet" type="text/css" href="http://10.106.89.64/GIT/blog_html/css/common.css">

</head>
<body>

  	<div id="container">
        <div id="canvas">
            <div id="nav">
                <div class="ui_nav_block">
                    <h2>文章归档</h2>
                    <ul class="ui_nav_category">
                        <% viewList.category.forEach(function (e) { %>
                        <li><a href=<%- '"/category/'+e+'"' %> class="ui_link"><%= e %></a></li>
                        <% }) %>
                    </ul>
                </div>
                <div class="ui_nav_block">
                    
                </div>
                <div class="ui_nav_block">
                    <h2>文章分类</h2>
                    <ul class="ui_nav_category">
                        <% viewList.category.forEach(function (e) { %>
                        <li><a href=<%- '"/category/'+e+'"' %> class="ui_link"><%= e %></a></li>
                        <% }) %>
                    </ul>
                </div>

                <h1 class="ui_share">
                    <img src="http://fd.topit.me/d/d6/73/11049699480a673d6dl.jpg" alt="" width="170px"><br>
                    <a href="" class="ui_share_link"><i class="fa fa-github-square"></i></a>
                    <a href="" class="ui_share_link"><i class="fa fa-facebook-square"></i></a>
                    <a href="" class="ui_share_link"><i class="fa fa-twitter-square"></i></a>
                    <a href="" class="ui_share_link"><i class="fa fa-weibo"></i></a>
                    <p>powered by Townmi</p>
                </h1>
            </div>
            <div id="marsk"></div>
            <nav>
                <div class="toggle_nav" id="js_toggle_nav">
                    <div id="bars"></div>
                </div>
                <h1 class="ui_title">
                    <a href="/" class="ui_index_target"><span>Towne/Townmi</span></a>
                    <div class="search_group">
                        <a href="javascript:;" class="ui_search_btn" id="js_search"><i class="fa fa-search"></i></a>&nbsp;
                        <input type="text" id="js_search_key_word" class="ui_search_input" placeholder="Please enter key word...">
                    </div>
                </h1>
                <!-- <h1 class="ui_title"><%= viewList.title %></h1> -->
            </nav>
            <div class="content">

                <section class="ui_content">

                    <div class="ui_article_list">
                        
                        <% viewList.articles.forEach(function (e){ %>
                        <div class="ui_article">
                            <div class="ui_article_title">
                                <h3><a href=<%- '"/arts/'+e.TITLE_HASH+'"' %>><%= e.TITLE %></a></h3>
                            </div>
                            <div class="ui_article_tags">
                                <i class="fa fa-tags"></i><a href=<%- '"/category/'+e.CATEGORY+'"' %>><%= e.CATEGORY %></a>
                                <i class="fa fa-calendar"></i><span>2015-09-10 10:20:20</span>

                                <% if(!viewList.device) { %>
                                <a href="javascript:;" class="js_weixin"><i class="fa fa-weixin"></i></a>
                                <a href="javascript:;" class="js_weixin"><i class="fa fa-weibo"></i></a>
                                <% } %>
                            </div>

                            <div class="ui_article_body">
                                <div class="js_markdown"><%= e.BODY %></div>
                            </div>
                            <div class="ui_article_foot">
                                <a href=<%- '"/arts/'+e.TITLE_HASH+'"' %>>阅读全文</a>
                            </div>
                        </div>
                        <% }) %>

                    </div>
                    
                </section>
                
            </div>

            
        </div>
        
    </div>

    
</body>
    <!-- Scripts -->
    <script src=<%- '"'+viewList.basePath+'js/jquery-2.1.4.min.js"' %>></script>
    <script src=<%- '"'+viewList.basePath+'js/custom.js"' %>></script>
    <script src=<%- '"'+viewList.basePath+'js/markdown.js"' %>></script>
    <script src=<%- '"'+viewList.basePath+'js/highlight.js"' %>></script>
    <script type="text/javascript">

        $(document).ready(function() {

            $(".js_markdown").html( marked($(".js_markdown").html()) ).find("pre code").each(function (i, block){
                hljs.highlightBlock(block);
            });

        })
        

    </script>
</html>
