<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
	<meta name="keywords" content="汤海祥, towne, townmi" />
	<meta name="description" content="汤海祥的个人网站"/>
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>个人</title>
	<link rel="stylesheet" type="text/css" href="../css/reset.css">
	<link rel="stylesheet" type="text/css" href="../css/monokai.css">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	<style>
		pre{
			padding: 0;
		}
		.prettyprint{
			padding: 0;
			margin: 0;
		}
		.navbar{
			border-radius: 0;
		}
	</style>
	
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Brand</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
					<li><a href="#">Link</a></li>
					<li class="dropdown">
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">技术<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<% categories.forEach(function (e){%>
								<li><a href=<%= e.title %>><%= e.title %></a></li>
							<% })%>
						</ul>
						<!-- <ul>
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li class="divider"></li>
							<li><a href="#">Separated link</a></li>
							<li class="divider"></li>
							<li><a href="#">One more separated link</a></li>
						</ul> -->
					</li>
				</ul>
				<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search">
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<% if(!login){ %>
						<li><a href="/login">登陆</a></li>

					<% }else{ %>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">管理员登陆<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#">管理中心</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else here</a></li>
								<li class="divider"></li>
								<li><a href="javascript:;" id="logout">登出</a></li>
							</ul>
						</li>
					<% } %>
					<!-- <li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li class="divider"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
					</li> -->
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	

	<div class="container-fluid container">
			
		<ul>
			<% arts.forEach(function (e){ %>
			<li>
				<div class="ui_art_head">
					<h2 class="ui_art_title"><a href=<%- e.categories+"?"+e.title %>><%= e.title %></a></h2>
					<p class="clear">
						<a href=<%= e.categories %> class="ui_target fl"><%= e.categories %></a>
						<span class="fr"><%= e.change_date %></span>
					</p>
				</div>
				<div style="display: none;"><%= e.body %></div>
				<div class="js_body">
				</div>
				<div class="clear">
					<p>
					<% if(!login){ %>
					<% }else{%>
						<a href="javascript:;" class="js_delete" key=<%= e.title %>>删除</a>&nbsp;&nbsp;&nbsp;&nbsp;
						<a href=<%- "/edit?key="+e.title %> class="js_change" key=<%= e.title %>>修改</a>
					<% } %>
						<a href="/" class="fr">>ReadMore</a>
					</p>
				</div>
			</li>
			<% })%>
		</ul>

	</div>

	<div class="ui_banner">
		
	</div>
	<div class="ui_center clear js_center">
			
		<div class="ui_article fl">
			<ul class="ui_art_list">
				
			</ul>
		</div>

	</div>


	<!-- foot -->
	<div class="ui_foot_bg">
		<div class="ui_foot">
			<span style="color: #80bd01;">Powered by</span>
			<a href="http://nodejs.org/" target="_blank" class="node_js">NodeJs</a>
			&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #3686be;">Running on</span>
			<a href="https://www.digitalocean.com/" target="_blank" class="digitalocean">Digitalocean</a>
			<a href="" class="fr">github</a>
			<a href="" class="fr">weibo</a>
		</div>
	</div>
	<!-- foot over -->

</body>
<script type="text/javascript" src="../js/src/jquery.js"></script>
<script type="text/javascript" src="../js/src/showdown.js"></script>
<script type="text/javascript" src="../js/src/extensions/prettify.js"></script>
<script type="text/javascript" src="../js/src/highlight.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script type="text/javascript">

	var converter = new Showdown.converter({ extensions: ['prettify'] });

	$(".js_body").each(function (e){

		var html = $(this).prev().html();

		html = html.replace(/&lt;/g, "<");

		html = html.replace(/&gt;/g, ">");

		$(this).html( converter.makeHtml( html ) );

		$(this).prev().remove();

	})

	// converter.makeHtml( arr[1] );

	$("code").each(function (i, block){

		hljs.highlightBlock(block);

	});

	// 登出
	$("#logout").on('click', function(){

		$.ajax({
			type: "post",
			url: "/logout",
			data: {
				
			},

			dataType: "json",

			success: function (data){

				if(data.login){

					window.location.reload();

				}

			},
			error: function (msg){

				console.log(msg)
			   	
			}
		})

	})

</script>
</html>