<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
	<meta name="keywords" content="汤海祥, towne, townmi" />
	<meta name="description" content="汤海祥的个人网站"/>
	<title>个人</title>
	<link rel="stylesheet" type="text/css" href="../css/reset.css">
	<link rel="stylesheet" type="text/css" href="../css/monokai.css">
</head>
<body>

	<!-- head -->
	<div class="ui_head_bg">
		<div class="ui_head">
			<a href="/login" >登陆</a>
		</div>
	</div>



	<!-- head over -->
	
	<div class="ui_center clear js_center">
		<div class="ui_article fl">
			<ul class="ui_art_list">
				<% arts.forEach(function (e){ %>
				<li>
					<div class="ui_art_head">
						<h2 class="ui_art_title"><a href=<%- '"/'+e.categories+"?key="+e.title+'"' %>><%= e.title %></a></h2>
						<p class="clear ui_targets">
							<a href=<%- '"/'+e.categories+'"' %> class="ui_target fl"><%= e.categories %></a>
							<span class="ui_date fr">最后修改日期：<%= e.change_date %></span>
						</p>
					</div>
					<div style="display: none;"><%= e.body %></div>
					<div class="js_body ui_art_body">
					</div>
					<div class="ui_art_foot">
						<p>
						<% if(!login){ %>
						<div class="col-md-10"></div>
						<% }else{%>
							<a href="javascript:;" class="js_delete" key=<%- '"'+e.title+'"' %>>删除</a>&nbsp;&nbsp;&nbsp;&nbsp;
							<a href=<%- '"/edit?key='+e.title+'"' %> class="js_change" key=<%- '"'+e.title+'"' %>>修改</a>
						<% } %>
						<% if(simple){ %>
						<a href="/" class="btn btn-primary btn-slim">>ReadMore</a>
						<% }%>
						</p>
					</div>
				</li>
				<% })%>
			</ul>
		</div>
		<div class="ui_sidebox fr">
			<div class="ui_side js_side">
				<ul class="ui_categories">
					<li style="background:none; padding-left:0;">
						<h3>文章分类</h3>
					</li>
					<% categories.forEach(function (e){%>
					<li><a href=<%- '"/'+ e+'"' %>><%= e %><span>(<%= e.num %>)</span></a></li>
					<% })%>
				</ul>
			</div>
			<div class="ui_side js_side">
				<ul class="ui_categories">
					<li style="background:none; padding-left:0;">
						<h3>文章归档</h3>
					</li>
					<% categories.forEach(function (e){%>
					<li><a href=<%- '"/'+ e.title+'"' %>><%= e.title %></a></li>
					<% })%>
				</ul>
				
			</div>
		</div>
	</div>

	<footer class="blog-footer">
		<p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
		<p>
		<a href="#">Back to top</a>
		</p>
	</footer>

</body>
<script type="text/javascript" src="../js/src/jquery.js"></script>
<script type="text/javascript" src="../js/src/showdown.js"></script>
<script type="text/javascript" src="../js/src/extensions/prettify.js"></script>
<script type="text/javascript" src="../js/src/highlight.js"></script>
<script type="text/javascript">

	var converter = new Showdown.converter({ extensions: ['prettify'] });

	$(".js_body").each(function (e){

		var html = $(this).prev().html();

		html = html.replace(/&lt;/g, "<");

		html = html.replace(/&gt;/g, ">");

		$(this).html( converter.makeHtml( html ) );

		$(this).prev().remove();

	})

	// converter.makeHtml( arr[1] );

	$("code").each(function (i, block){

		hljs.highlightBlock(block);

	});

	// 登出
	$("#logout").on('click', function(){

		$.ajax({
			type: "post",
			url: "/logout",
			data: {
				
			},

			dataType: "json",

			success: function (data){

				if(!data.login){

					window.location.reload();

				}

			},
			error: function (msg){

				console.log(msg)
			   	
			}
		})

	});

	// 删除
	$(".js_delete").on("click", function(){

		var key = $(this).attr("key");

		if( window.confirm('你确定要删除<<'+key+'>>吗？') ){

			$.ajax({

				type: "post",
				url: "/delete",
				data: {"key" : key},
				dataType: "json",

				success: function (data){
					if(data.target){

						window.location.reload();

					}
				},
				error: function (msg){
				   	
				}

			})


		}else{
			return
		}

	});

</script>
</html>